/* #tablerow {
    display: table;
    justify-content: space-between;
} */

/* #tabledata {
    float: inline-end;
} */

#tablerow {
    width: inherit;
}

#search-bar {
    height: 40px;
    border-radius: 5px;
    border-color: rgb(64, 109, 177);
}