/* #tablerow {
    display: table;
    justify-content: space-between;
} */
body {
    /* // background-color: rgb(2, 0, 36); */
    background: rgb(68, 76, 156);
    background: radial-gradient(circle, rgba(68, 76, 156, 1) 0%, rgba(37, 174, 179, 1) 42%, rgba(0, 212, 255, 1) 100%);
}

table {
    overflow: scroll;
}

#searchtxt {
    color: white;
}

/* #styleCards {
    box-shadow: 3px;
} */

/* #tabledata {
    float: inline-end;
} */
/* tbody {
    word-wrap: initial;
} */
/* td {
    width: fit-content;
    overflow: hidden;
} */

#tablerow {
    width: fit-content;
}

/* #tabledata {
    width: inherit;
} */


#search-bar {
    height: 40px;
    border-radius: 5px;
    border-color: rgb(64, 109, 177);
}