/* #tablerow {
    display: table;
    justify-content: space-between;
} */
table {
    overflow: scroll;
}

/* #styleCards {
    box-shadow: 3px;
} */

/* #tabledata {
    float: inline-end;
} */
/* tbody {
    word-wrap: initial;
} */
/* td {
    width: fit-content;
    overflow: hidden;
} */

#tablerow {
    width: fit-content;
}

/* #tabledata {
    width: inherit;
} */


#search-bar {
    height: 40px;
    border-radius: 5px;
    border-color: rgb(64, 109, 177);
}